
img{
    height: 500px;
    width: 500px;
}

body{
    background-color: bisque;
    padding-top: 10%;
    padding-left: 50px;
    padding-right: 50px;

}

p{
    font-family: 'Playfair Display', serif;
}

h4, h2{
    font-family: 'Roboto Condensed', sans-serif;
}


h1{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
font-size: 100px;
position: relative;
bottom: 100px;

}

.hr1{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
position: relative;
bottom: 100px;
}

/********************************/

/****.div1{
    float: left;
}

.div2{ position: relative;
    left: 50px;

}

.div3{
    float: left;
}

***/


    
    button:hover{
        background-color: lightpink;
    }
    
/* trying flex isntead

    .next-but{
        position: relative;
        left: 600px;
    }

    .left-but{
        float: left;
    }
 
.ctrbut .rtt2 {
        
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-flex;
        padding: 1rem;
        margin: -1rem;
     }
     


     .but{
        text-align: center;
        }
    
    .rtt{
            font-family: 'Roboto Condensed', sans-serif;
            padding: 1rem;
            margin: -1rem;
        }

#mid{
    position: relative;
    left: -14%;
}

*/

  .box{
    display: flex;
    justify-content: space-between;
  }

  .box2{
    display: flex;
    justify-content: space-between;
    
  }

 
  .box .main{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    margin: -1rem;

   }

   .next{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    margin: -1rem;
   }

   

   .main{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    margin: -1rem;
   }

   .pre2{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    margin: -1rem;
    order: -1;
   }
   
   .main2{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    margin: -1rem;
    justify-content: center;
   
   }

   .next2{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    margin: -1rem;
  
   }

   .main3{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    margin: -1rem;
   }